@model User
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4 text-center">@Model.FirstName @Model.LastName - Detay</h6>
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Adı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="FirstName" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Soyadı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="LastName" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Şirket</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Company" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">İletişim Tipi</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Contacts[0].Type" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">İletişim İçeriği</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Contacts[0].Content" readonly />
                        </div>
                    </div>
                    <div style="text-align:center">
                        <a href="/User/Index" class="btn btn-primary">Geri Dön</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>