<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="~/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Telefon Rehberi</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/Home/Index" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Anasayfa</a>
            <a href="/User/Index" class="nav-item nav-link"><i class="fa fa-list-alt me-2"></i>Rehber Listesi</a>
            <a href="/User/Add" class="nav-item nav-link"><i class="fa fa-plus-circle me-2"></i>Kişi Ekle</a>
            <a href="/User/Deleted" class="nav-item nav-link"><i class="fa fa-trash me-2"></i>Silinen Kişiler</a>
            <a href="/Report/Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Raporlar</a>
        </div>
    </nav>
</div>